{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-6">

    <h1 class="text-2xl font-semibold mb-4">🎁 Вещи для обмена</h1>
    <form method="get" class="flex gap-4 pt-6">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Поиск по названию..." class="p-2 border rounded w-60"/>
        <select name="category" class="p-2 rounded border">
            <option value="">Все категории</option>
            {% for cat in categories %}
            <option value="{{ cat.id }}" {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>
                {{ cat.name }}
            </option>
            {% endfor %}
        </select>

        <select name="status" class="p-2 rounded border">
            <option value="">Все статусы</option>
            <option value="Доступно" {% if request.GET.status == "Доступно" %}selected{% endif %}>Доступно</option>
            <option value="Обменяю" {% if request.GET.status == "Обменяю" %}selected{% endif %}>Обменяю</option>
            <option value="Зарезервировано" {% if request.GET.status == "Зарезервировано" %}selected{% endif %}>Зарезервировано</option>
        </select>

        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">Поиск</button>
    </form>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 py-6">
        {% for item in items %}
        <a href="{% url 'exchange:item_detail' item.id %}">
            <div class="bg-white rounded-2xl shadow p-4">
            {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.title }}" class="rounded-xl w-full h-48 object-cover mb-2">
                {% else %}
                <div class="w-full h-48 bg-gray-200 rounded-xl flex items-center justify-center mb-2 text-gray-500">
                    Нет фото
                </div>
                {% endif %}
                <h2 class="text-lg font-bold">{{ item.title }}</h2>
                <p class="text-sm text-gray-600">{{ item.get_category_display }}</p>
                <p class="text-sm mt-1">{{ item.description|truncatewords:15 }}</p>
                <p class="text-xs text-gray-500 mt-2">{{ item.location }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}