<header class="fixed top-0 left-0 right-0 bg-white shadow z-50">
  <div class="container mx-auto px-6 py-4 flex items-center justify-between">
    <a href="{% url 'home' %}" class="text-2xl font-extrabold text-green-700 tracking-tight">
      Город без мусора
    </a>
    <nav class="space-x-6 text-sm font-medium">
      <a href="{% url "about" %}" class="text-gray-700 hover:text-green-600">О проекте</a>
      <a href="" class="text-gray-700 hover:text-green-600">Услуги</a>
      <a href="" class="text-gray-700 hover:text-green-600">Карта</a>
      <a href="{% url 'accounts:login' %}" class="text-gray-700 hover:text-green-600">Войти</a>
      <a href="{% url 'accounts:register' %}" class="bg-green-600 text-white px-3 py-1 rounded hover:bg-green-700">Регистрация</a>
    </nav>
  </div>
</header>
